# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
ENV/

# Environment variables & secrets
.env
*.env.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker volume mounts / logs / checkpoints
checkpoints/
logs/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
